@model IEnumerable<NewMedicoRx.Models.AppointmentModel>

@{
    ViewBag.Title = "ViewAppointment";
}

<h2>ViewAppointment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfAppointment)
        </th>
        
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAppointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfAppointment)
        </td>
        
        <td>
            @Html.ActionLink("Edit Appointment", "Edit", new { id = item.AppointmentId }) |
            @Html.ActionLink("Delete Appointment", "Delete", new { id = item.AppointmentId })
            @Html.ActionLink("Create Prescription", "AppointmentById", new { id = item.AppointmentId }) |
        </td>
    </tr>
}

</table>
